.member-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  gap: 1rem; /*üye dataları(divler) arasında boşluk bırakmak için*/
}

/*member-card içindeki tüm divler için: */
.member-card > div { 
  flex-basis: 25%; /*hepsine %25 oranında alan tanı, hizala*/
}

.member-card.header {
  border: none;
  font-weight: bold;
}

/*member-form içindeki tüm elementler için: */
.member-form > * {
  margin: 0.5rem 1rem;
}

.member-form {
  margin-top: 5rem;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
}

/*member-form içindeki divlerin, içindeki label'lara hizalama:*/
.member-form > div > label {
  display: flex;

}

/*bu label'ların içindeki tüm itemlara:*/

.member-form > div > label > * {
  width: 50%;
  
}